@import "color.css"

 *{
    color: purple;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
body{
    /* font-family: var(---p-font); */
    background: slategrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
#Karuna{
    border: 0px solid black;
    background: white;
    width: 1000px;
    margin: 0 auto;
}
#Header{
    background:var(--main-color);
    height: 100px;
    color: aliceblue;
}
#Header h1{
    padding:40px 0 0 20px;

}
#Menu{
    background: lightsalmon;
}
#Menu ul{
    margin:0;
    padding: 0;
}
#Menu li{
    display: inline-block;
}
#Menu li a{
    display: block;
    padding: 10px 14px;
    text-decoration: none;
    color: black;
}
#Menu li a:hover{
    background:var(--main-color);
    color: white;
}
#Content{
    width: 800px;
    float: left;
    min-height: 500px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    --m-color : blue;
    color:var(--m-color);
}
#content *{
    color: ;
}
#Content a{
    color:red;
    cursor: pointer;
}
#sidebar{
    background: lightseagreen;
    float: right;
    height: 550px;
    width: 200px;
}
#sidebar a{
    text-decoration: none;
    color: black;
    font-family: var(---p-font);

}
#footer{
    background:var(--main-color);
    clear: both;
    padding: 5px 10px;
    text-align: right;
    color:white;
}
@media screen and (max-width:1020px){
    #Karuna{
        width: 800px;
    }
    #Content{
        width: 80%;
    }
    #sidebar{
        width: 18%;
    }
}
@media screen and (max-width:810px){
    #Karuna{
        width: 500px;
    }
    #Content{
        width: 34%;
    }
    #sidebar{
        width: 29%;
    }
}
@media screen and (max-width:710px){
    #Karuna{
        width: auto;
    }
    #Content{
        width: 100%;
        float: none;
    }
    #sidebar{
        width: 100%;
        float: none;
    }
    #Header h1{
        width: 100%;
        /* border: 1px solid black; */
        text-align: center;
        transition:  400ms;
    padding:40px 0 0 0px;
    /* text-align: center; */
    font-family: var(--head-font);
}
::-webkit-scrollbar{
    width: 10px;
    
}
::-webkit-scrollbar-track{
    background-color: brown;
    width: 20px;
    border-radius: 9999px;
}
::-webkit-scrollbar-thumb{
    border-radius: 9999px;
    background-color: aquamarine;
}
}
::-webkit-scrollbar{
    width: 10px;
    
}
::-webkit-scrollbar-track{
    background-color: brown;
    width: 20px;
    border-radius: 9999px;
}
::-webkit-scrollbar-thumb{
    border-radius: 9999px;
    background-color: aquamarine;
}
#Menu ul li a:nth-child(n):hover{
border-left: 5px solid black;
border-right: 5px solid black;
padding: 10px 9px;
/* transition: 400ms; */
}
#sidebar ul li a:nth-child(n):hover{
border-left: 5px solid black;
border-right: 5px solid black;
padding: 10px 9px;
color: crimson;
font-family: Arial, Helvetica, sans-serif;
background: peachpuff;
}